/*

---- 01 TYPOGRAPHY SYSTEM

- FONT FAMILY 
"Irish Grover", sans-serif
"Rubik Dirt", sans-serif
'Rubik Wet Paint', cursive


- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- FONT WEIGHTS
Medium: 400
Bold: -

- LINE HEIGHTS
Default: 1
Small: -
Medium: 1.5
Paragraph default: -

- LETTER SPACING
large: -
Small: -
Xsmall: -


---- 02 COLORS

TEXT COLORS: #d6d1cd, #a167a5

MAIN COLOR: #0d2336

TINT: #0e273c, #d3bccc

SHADES:#36133a, #511d56

ACCENTS: #c0eb75, #82c91e, #d50606, #15aabf

GREY COLORS: -

---- 03 SHADOWS
box-shadow: 0 0 30px 5px #d3bccc;

---- 04 BORDER RADIUS
Default: 50px;

---- 05 OUTLINE
Outline: -

---- 06 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/****** GENERAL ******/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus-visible,
.btn:focus-visible,
.btn-numbers button:focus-visible {
  outline: none;
  border: #a167a5 solid 3px;
}

html {
  font-size: 62.5%;
}

body,
button {
  overflow: hidden;
  font-family: 'Irish Grover', sans-serif;
  line-height: 1;
}

.game {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    180deg,
    #160b0a,
    #0d2336,
    #0e273c,
    #0d2336,
    #160b0a
  );
  position: relative;
}

/****** GAME INSTRUCTIONS ******/

@keyframes modal-opacity {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.game-instructions {
  width: 70rem;
  text-align: center;
  font-size: 2.4rem;
  line-height: 1.5;
  background-color: #0a1a27;
  color: #d6d1cd;
  box-shadow: 0 0 30px 5px #d3bccc;
  z-index: 2;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-instructions h1 {
  font-size: 4.4rem;
  margin: 0.5em 0;
  padding: 0 1em;
}

#hello {
  margin-bottom: 0.8em;
  padding: 0 1em 0 1em;
}

#steps {
  list-style: none;
  padding: 0 1em;
}

.btn--start {
  margin: 1.1em auto;
  background-color: #0e273c !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(10, 26, 39, 0.1);
  backdrop-filter: blur(10px);
  z-index: 1;
}

.hidden {
  animation: modal-opacity 600ms ease-in-out 350ms forwards;
}

/***** GAME AREA *****/

.game-area {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 4em;
}

.title {
  font-size: 9.8rem;
  color: #d6d1cd;
  padding: 0.5em 0;
}

.your-number {
  color: #d6d1cd;
  opacity: 80%;
  font-size: 3.6rem;
}

.your-number::first-letter {
  text-transform: uppercase;
}

.player-guess,
.generated-number {
  background-color: #d3bccc;
  opacity: 90%;
  border-radius: 50px;
  width: 3em;
  height: 2em;
  font-size: 7.4rem;
  font-family: inherit;
  text-align: center;
  color: #0a1a27;
  display: flex;
  justify-content: center;
  align-items: center;
}

.generated-number {
  width: 3.5em;
  height: 2.5em;
  font-size: 8.6rem;
}

.player-computer,
.player-area,
.btns-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.player-area {
  padding-top: 7em;
  padding-bottom: 3em;
}

.player-computer {
  padding-bottom: 4em;
}

.current-score {
  color: #a167a5;
  font-size: 3rem;
}

.player {
  width: 30rem;
  position: relative;
}

.player--0::before {
  content: 'A';
  position: absolute;
  font-size: 35rem;
  color: #d6d1cd;
  opacity: 20%;
  left: -15%;
  top: 15%;
  transform: translate(-65%);
}

.player--1::before {
  content: 'B';
  position: absolute;
  font-size: 35rem;
  color: #d6d1cd;
  opacity: 20%;
  right: -15%;
  top: 15%;
  transform: translate(65%);
}

/***** REMOVABLE ACCORDING TO THE WINNING/LOSING/ACTIVE PLAYER *****/

.round-point {
  font-size: 6.2rem;
  color: #c0eb75;
  padding: 3rem 0;
}

.active {
  color: #82c91e;
  font-size: 6.2rem;
}

#loser--0,
#loser--1 {
  font-family: 'Rubik Wet Paint', cursive;
  color: #d50606;
  font-size: 13rem;
  position: absolute;
  z-index: 2;
}
#loser--0 {
  top: 20%;
  left: -30%;
  transform: rotate(25deg);
  display: none;
}

#loser--1 {
  top: 20%;
  right: -40%;
  transform: rotate(-25deg);
  display: none;
}

#winner--0,
#winner--1 {
  font-family: 'Rubik Dirt', sans-serif;
  color: #15aabf;
  font-size: 13rem;
  position: absolute;
  z-index: 2;
}

#winner--0 {
  top: 20%;
  left: -75%;
  transform: rotate(25deg);
  display: none;
}

#winner--1 {
  top: 20%;
  right: -50%;
  transform: rotate(-25deg);
  display: none;
}

/***** BUTTONS *****/

.btn {
  color: #d6d1cd;
  border-radius: 50px;
  padding: 0.5em 1.5em;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  display: block;
  letter-spacing: 0.1rem;
}

.btn,
.num {
  background-color: #0a1a27;
  transition-duration: 300ms;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
}

.btn-numbers {
  padding: 3em 3em 3em 3em;
  max-width: 85vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.num {
  color: #d6d1cd;
  border-radius: 50px;
  width: 2.1em;
  height: 2.1em;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  flex-shrink: 0;
}

.btn--active:hover {
  background-color: #511d56 !important;
}

.btn--active:active {
  background-color: #36133a !important;
}
