/*

---- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- FONT WEIGHTS
Default: 300
Medium: 400
Semi-bold: 500 
Bold: 600

- LINE HEIGHTS
Default: 1
Small: 
Medium: 
Paragraph default: 

- LETTER SPACING
large: 1rem
small: 2px
xsmall: -2px


---- 02 COLORS

TEXT COLORS: #767676 (lightest allowed on #fff)
#8e8c8c (lightest allowed on #04282f)

MAIN COLOR: #04282f

TINT: 

SHADES:

ACCENTS: #d4af37, #aa8c2c

GREY COLORS: #ccc, #333

---- 03 SHADOWS

---- 04 BORDER RADIUS

---- 05 OUTLINE
outline: 2px solid #d4af37;
outline-offset: 4px;

---- 06 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus-visible,
.btn:focus-visible,
.btn-numbers button:focus-visible {
  outline: none;
  border: #00a956 solid 3px;
}

body,
button {
  font-size: 62.5%;
  font-family: "Irish Grover", sans-serif;
}

.game {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.title-container,
.game-area {
  text-align: center;
  border-radius: 50px;
}

.title-container {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: linear-gradient(180deg, #160b0a, #2d1613, #381c18);
}

.game-area {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 8.6rem;
  color: #fff4e6;
  padding: 5rem 0;
  margin: 8rem 8rem 0 8rem;
}

.game,
.game-area,
.btn {
  background-image: linear-gradient(180deg, #381c18, #2d1613, #160b0a);
}

.round-point {
  font-size: 6.5rem;
  color: #008745;
  margin-bottom: 4rem;
}

.your-number {
  color: #fff4e6;
  opacity: 80%;
  font-size: 3.6rem;
  margin: 0 8rem 0 8rem;
}

.your-number::first-letter {
  text-transform: uppercase;
}

.player-guess,
.generated-number {
  background-color: #ddb2ab;
  border-radius: 50px;
  width: 20rem;
  height: 15rem;
  font-size: 7.4rem;
  font-family: inherit;
  text-align: center;
  color: #381c18;
  z-index: 999;
  /*figure out this shitty border around the input box*/
  box-shadow: none;
}
/* so you can see the difference it will make when implementing javascript: this one is a regular div, and .player-guess is an input field*/
.player-guess-1 {
  background-color: #ddb2ab;
  border-radius: 50px;
  width: 20rem;
  height: 15rem;
  font-size: 7.4rem;
  text-align: center;
  color: #381c18;
  display: flex;
  justify-content: center;
  align-items: center;
}

.generated-number {
  width: 30rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9.6rem;
}

.player-computer,
.player-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.current-score {
  color: #008745;
  font-size: 3rem;
}

.btn {
  color: #fff4e6;
  border-radius: 50px;
  width: 20rem;
  height: 6rem;
  border: none;
  font-size: 3rem;
  cursor: pointer;
}

.btn:last-child {
  display: block;
  margin: 1rem auto;
}

.player-b,
.player-a,
.player-computer {
  padding-bottom: 7rem;
}

.player-a,
.player-b {
  position: relative;
}

.player-a::before {
  content: "a";
  position: absolute;
  font-size: 40rem;
  height: fit-content;
  width: fit-content;
  color: #fff4e6;
  opacity: 10%;
  left: 0;
  top: 0;
  transform: translate(-60%);
  z-index: 0;
}

.player-b::before {
  content: "b";
  position: absolute;
  font-size: 40rem;
  height: fit-content;
  width: fit-content;
  color: #fff4e6;
  opacity: 10%;
  right: 0;
  top: 0;
  transform: translate(60%);
  z-index: 0;
}

.btn-numbers button {
  background-color: #381c18;
  color: #fff4e6;
  border-radius: 50px;
  width: 6rem;
  height: 6rem;
  border: none;
  font-size: 3rem;
  cursor: pointer;
}

.btn:hover,
.btn-numbers button:hover {
  background-image: none;
  background-color: #00763c;
}
.btn:active,
.btn-numbers button:active {
  background-color: #00552b;
}
